# Backup files
# Build artifacts
# IDE
# OS
# Python
# Terraform
*.pyc
*.swp
*.tfplan
*.tfstate
*.tfstate.backup
*.zip
.DS_Store
.idea/
.pytest_cache/
.terraform.lock.hcl
.terraform/
.vscode/
__pycache__/
_backup/
modules/compute/.build/
tfplan
